{% extends 'base.html.twig' %}

{% block body %}

<body class=" bg-white text-black dark:bg-black dark:text-white transition-colors duration-300">
{% block content %}
{% endblock %}
</body>

{% endblock %}


