{% extends 'main/base.html.twig' %}

{% block content %}
{{ include("./main/assets/layouts/_header.html.twig") }}
<main class="mt-20 lg:mt-[5.5rem] min-h-screen">
{% block main %}{% endblock %}
</main>
{{ include("./main/assets/layouts/_footer.html.twig") }}
{% endblock %}
