# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.domain: "%env(APP_DOMAIN)%"
    app.main.supported_locales: 'en|fr'
    app.main.default_theme: 'dark'
    
    router.request_context.scheme: 'https'
    asset.request_context.secure: true

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Service\HandleCurrentLocale:
        arguments:
            $domain: '%env(APP_DOMAIN)%'

    App\Service\ThemeProvider:
        arguments:
            $defaultTheme: '%app.main.default_theme%'
    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
