
{% block body %}

	<section class='w-full flex flex-col max-w-7xl mx-auto gap-16 py-24 px-6 md:px-20 xl:px-0 lg:py-32 '>
		<p class="mb-4">Vous avez reçu un nouveau de message de {{ name }}</p>

		<p class="mb-4">A propos de {{ subject }}</p>

		<p class="mb-4">Merci d'y repondre dans les plus brefs delais.</p>
	</section>
{% endblock %}
