{% for project in list %}
    <a class="w-24 h-24" href="{{ path('app_project_show', {"slug": project.slug, "id": project.id, "_locale": app.locale}) }}">
        <img class="w-24 h-24 rounded object-contain" src="{{ asset(project.logo) }}" alt="logo of project: {{ project.title }}">
    </a>
{% endfor %}